.about__header {
  text-align: center;
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;
  //text-align: center;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}
