//Before Text In Commercial

//M2.jpg
.CommImageOne {
  //position: absolute;
  width: 23%;
  height: 453px;
  left: 16px;
  top: 1104px;

  @media (max-width: 450px) {
    width: 187.87px;
    height: 187.87px;
    left: -3px;
    top: 593px;
  }
}

//Rossetto2b_1.jpg
.CommImageTwo {
  //position: absolute;
  width: 21%;
  height: 453px;
  left: 470px;
  top: 1104px;

  @media (max-width: 450px) {
    width: 128px;
    height: 188px;
    left: 196px;
    top: 593px;

  }
}

//Social_02.jpg
.CommImageThree {
  //position: absolute;
  width: 23%;
  height: 453px;
  left: 883px;
  top: 1104px;

  @media (max-width: 450px) {
    width: 187.87px;
    height: 187.87px;
    left: -3px;
    top: 793px;
  }
}

//Op_1.jpg
.CommImageFour {
  //position: absolute;
  width: 23%;
  height: 453px;
  right: 16px;
  top: 1104px;
  @media (max-width: 450px) {
  width: 129px;
  height: 188px;
  left: 195px;
  top: 793px;
  }
}

//5_Def.jpg
.CommImageFive {
  //position: absolute;
  width: 23%;
  height: 453px;
  left: 16px;
  top: 1597px;
}

//Eye4.jpg
.CommImageSix {
  //position: absolute;
  width: 47%;
  height: 453px;
  left: 518px;
  top: 1597px;
}

//Malo_05.jpg
.CommImageSeven {
  //position: absolute;
  width: 23%;
  height: 453px;
  left: 1451px;
  top: 1597px;
}


//////////////////////////
//After Text In Commercial
//////////////////////////


//Mesauda_1.jpg
.CommImageSecondOne {
  width: 31.5%;
  height: 783px;
  left: 70px;
  top: 3314px;
}

//H3.jpg
.CommImageSecondTwo {
  width: 628px;
  height: 385px;
  left: 625px;
  top: 3314px;
}

//Profumo1.jpg
.CommImageSecondThree {
  width: 628px;
  height: 385px;
  left: 625px;
  top: 3717px;
}

//B1.jpg
.CommImageSecondFour {
  width: 31.5%;
  height: 786px;
  left: 1290px;
  top: 3311px;
}

//////////////////////////////

//Malo_17.jpg
.CommImageSecondFive {
  width: 604px;
  height: 517px;
  left: 100px;
  top: 4126px;
}

//Radiance_2.jpg
.CommImageSecondSix {
  width: 632px;
  height: 514px;
  left: 625px;
  top: 4134px;
}

//Medavita_Adv_C.jpg
.CommImageSecondSeven {
  width: 602px;
  height: 1063px;
  left: 1250px;
  top: 4134px;
}

//Box_Penne_2800.jpg
.CommImageSecondEight {
  width: 604px;
  height: 521px;
  left: 70px;
  top: 4678px;
}

//Aqua_-1.jpg
.CommImageSecondNine {
  width: 632px;
  height: 521px;
  left: 625px;
  top: 4678px;
}


////////////////////////////
//TECH PAGE
////////////////////////////

.position__image {
  //position: absolute;
  width: 863px;
  height: 958px;
  left: 26px;
  top: 1704px;
}

.TechImageRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.TechImageRow > img {
  width: 453px;
  height: 453px;
}


