.imageRow {
  width: 100%;
}

.gridSystem {
  display: grid;
  align-items: center;
}

.imageRow__images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  //flex-wrap: wrap;
}

.CommercialRowOne {
  display: flex;
  //flex-wrap: wrap;
  //height: 453px;
  justify-content: space-around;
  @media (min-width: 1000px) {
    margin-top: 2%;
  }

  @media (max-width: 450px) {
    display: grid;
  }
}

.CommercialRowOne > img {
  @media (max-width: 450px) {
    width: 100%;
    object-fit: contain;
  }
}

.Height {
  height: 1080px;
}

.CommercialText {
  color: white;
  width: 934px;
  height: 934px;
  text-align: center;
  display: grid;
  //justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.CommercialText > div > h1 {
  word-spacing: 18px;
}

.CommercialText > div > h1 > span {
  color: #AA8246;
  text-decoration: underline;
  //margin: 0 0 3% 0;
}

.CommercialText > div > h5 {
  line-height: 44.64px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 3% 0 0 0;
}

.CommercialInfo {
  margin: 139px 0;
}

.logoColor {
  width: 397px;
  height: 273px;
}

.logoColorDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CommercialInfoText {
  margin: 30px 0 0 0;
  display: grid;
  text-align: center;
  align-items: center;
  color: white;
}

.CommercialInfoText > h5 {
  //font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 228%;
  text-align: center;

}

.CommercialInfoText > h6 {
  margin: 15px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 228%;
  text-align: center;
  letter-spacing: 0.05em;
}

.CommercialFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CommercialFooter > img {
  width: 455.85px;
  height: 455.85px;
}
